body{
    font-size: 12px;
    font-family: "微软雅黑", helvetica, Arial;
    background-color: #5e82f1;
}
.box{
    width: 575px;
    margin: 0 auto;
    padding-top: 100px;
}
.box h1{
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 3px 3px rgba(0,0,0,1);
}
.box p{
    width: 280px;
    height: 40px;
    background-color: rgb(23, 80, 121);
    border-radius: 6px;
    border:1px solid rgb(43, 90, 151);
}
.box span{
    display: block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(28, 100, 151);
    border-right: 1px solid rgb(43, 90, 151);
    text-align: right;
    color: #e3e3e3;
    float: left;
}
.box .input_box{
    float: left;
    width: 198px;
    height: 38px;
    background-color: rgb(23, 80, 121);
    color: white;
    border: 0px;
}
.box .input_btn{
    width: 280px;
    height: 40px;
    margin-top: 15px;
    background-color: #2C5FBB;
    border-color: #2f71d3;
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    cursor: pointer;
}
.box .input_btn:hover{
    background-color: #3067cb;
}
.box .field-container .left,.box .field-container .right{
    float: left;
}
.box .field-container .left{
    margin-right: 5px;
}
.box .field-container .right{
    margin-left: 5px;
}
.qrCode-img{
    display: none;
    position: fixed;
    right: 7px;
    bottom: 2%;
    border: 7px solid white;
}